@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Vollkorn&family=Zeyada&display=swap');
/*font-family: 'Space Mono', monospace;
font-family: 'Vollkorn', serif;
font-family: 'Zeyada', cursive;*/

@font-face {
  font-family: 'LineAwesome';
  src: url('../fonts/la-solid-900.woff2') format('woff2'),
    url('../fonts/la-solid-900.woff') format('woff'),
    url('../fonts/la-solid-900.ttf') format('truetype');
  font-weight: 900;
}

/*GENERAL STYLES*/

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, sans-serif;
}

.titles {
  font-family: 'Vollkorn', serif;
  /* declaramos el uso de la fuente de GoogleFonts Vollkorn*/
}


/*FOOTER*/


.div {
  width: 100%;
}

.book-btn {
  margin-left: 35vw;
  height: auto;
  width: 30vw;
  font-size: 2vw;
  color: #ffffff;
  background-color: #875f45;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

#footer p {
  text-align: center;
  padding: 2vw;
  font-size: 1.7vw;
  margin-bottom: 0px;
}

.div-cont {
  display: flex;
  justify-content: space-around;
}

.div-cont a {
  font-size: 1.5vw;
}

#foot-two {
  background-color: #875f45;
}

.revs {
  text-decoration: none;
  color: #000000;
  text-align: center;
}


/*HEADER*/


header {
  padding: 2vw;
}

.logo img {
  width: 14vw;
  /* Tamaño del logo */
}


/*INDEX STYLES*/


/* Estilos para el carousel */
#hero {
  margin-bottom: 50px;
  /* Estilos para el hero section, si los necesitas */
}

.carousel-item img {
  width: 100VW;
  height: 100%;
}

/* Estilos para el contenido del carousel */
/* Alinear todo el contenido del carousel a la izquierda */
.carousel-caption {
  text-align: left;
  /* Alinear el texto hacia la izquierda */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centrar verticalmente */
  height: 100%;
  /* Altura del carousel-caption */
  padding-right: 40%;
  /* Agregar padding a la izquierda */
}

/* Estilos para los títulos */
.location-title {
  display: inline-block;
  padding: 0.5vw 1.2vw;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 2vw;
  /* Espaciado inferior entre los títulos y el texto */
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  font-size: 3vw;
}

/* Estilos para el texto debajo de los títulos */
.location-text {
  color: white;
  /* Espaciado superior entre el texto y el cuadro */
  font-size: 1.2vw;
  text-align: center;
  margin-bottom: 2vw !important;
}

.btn-explore {
  background-color: #A78262;
  color: black;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 1vw 2vw;
  font-weight: bold;
  font-size: 1.4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.btn-explore:hover {
  background-color: #875f45;
  color: white;
}

.fondo-home {
  position: relative;
  margin-bottom: 25px;
}

.fondo-home img {
  display: block;
  width: 100%;
}

.fondo-home h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
}

.couples {
  background-color: #875f45;
  padding: 4vw 0px;
}

.couples h1 {
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

.titles {
  font-size: 6vw;
}

.amor-home p {
  padding: 15px 60px;
  text-align: center;
  color: #000000;
  font-size: 2vw;
}

.desc-recom {
  color: #ffffff;
  background-color: #A78262;
  margin: 0px;
  font-size: 3vw;
}

.desc-recom-b {
  color: #ffffff;
  background-color: #A78262;
  font-weight: bold;
  margin: 0px;
  font-size: 2vw;
}

#experiencias {
  text-align: center;
  margin: 40px 0px;
}

.img-exp {
  width: 100%;
  height: 80%;
}


/*THEMES STYLES*/


.theme1 {
  background-color: #A78262;
  padding-top: 5vw;
  padding-bottom: 2px;
}

.theme2 {
  margin-top: 7vw;
  margin-bottom: 7vw;
}

.theme3 {
  margin-top: 6vw;
}

#hero-theme h1 {
  text-align: center;
  margin: 5vw 2vw;
}

#hero-theme h2,
p {
  color: #ffffff;
  text-align: center;
}

.themes {
  background-color: #875f45;
  padding: 2px 0px;
}

.themes h1 {
  text-align: center;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.img-theme {
  width: 100%;
  height: 90%;
}


/*CONTACT STYLES*/


.btn-submit {
  background-color: #A78262;
  width: 100%;
}

.contact1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.title-cont {
  font-size: 8vw;
}


/*ABOUT STYLES*/


.p-about {
  color: #000000;
  text-align: left;
}

.btn-about {
  background-color: #A78262;
  color: #ffffff;
  margin-left: 30%;
  width: 40%;
  border: 0px;
  text-decoration: none;
  text-align: center;
}

.h-about {
  font-size: 6rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.simple-square {
  width: 30%;
  height: 30%;
  background-color: gainsboro;
}

.couple-square {
  position: absolute;
  bottom: 20%;
  left: 45%;
  z-index: -1;
}

.h-size {
  height: 400px;
}

.relat {
  position: relative;
}

.couple-img-1 {
  position: absolute;
}

.couple-img-2 {
  position: absolute;
  left: 40%
}

.couple-img-3 {
  position: absolute;
  top: 45%;
  left: 10%;
  z-index: -1;
}

.couple-img-4 {
  position: absolute;
  top: 35%;
  left: 6%;
}

.adven-img-1 {
  z-index: -1;
}

.adven-img-2 {
  position: absolute;
  top: 65%;
  z-index: -1;
}

.adven-img-3 {
  position: absolute;
  top: 30%;
  left: 70%;
}

.adven-img-4 {
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: -1;
}

.family-img-1 {
  position: absolute;
  left: 50%;
  top: 15%;
}

.family-img-2 {
  position: absolute;
  left: 20%;
  top: 40%;
  z-index: -1;
}


/*PROMO STYLES*/


.fondo-promo {
  position: relative;
  margin-bottom: 3vw;
  margin-top: 4vw;
}

.fondo-promo img {
  display: block;
  height: 35vw;
  width: 100%;
  opacity: 0.7;
}

.fondo-promo h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  width: 100%;
}

.img-promo {
  width: 100%;
  height: 65%;
}

.row-promo {
  padding: 0px 10vw;
}

.promo-recom {
  font-size: 2vw;
}

.promo-recom-b {
  font-size: 1.8vw;
  font-weight: bold;
}


/*Attendance STYLES*/


#hero-attend {
  margin-bottom: 3vw;
}

.fondo-attend {
  width: 100%;
  height: 70vw;
  position: relative;
}

.fondo-attend img {
  width: 100%;
  height: 70%;
  padding: 3vw 6vw;
}

.sombra {
  top: 40%;
  width: 100%;
  height: 60%;
  background-color: #A78262;
  position: absolute;
  z-index: -1;
}

.info-attend {
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 40%;
  background-color: #ffffffaf;
  left: 20%;
  top: 40%;
  border: 2px #000000 solid;
}

.title-attend {
 margin: 3vw 8vw;
 text-align: center;
}

.p-attend {
  margin: 0px 8vw;
  color: #000000;
}

.attend-btn {
  margin-left: 30% !important;
  width: 40% !important;
}


/*REVIEW STYLES*/


.precious {
  margin: 5vw;
}

.title-rev {
  text-align: center;
  font-size: 4vw;
}

.img-rev {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1028px) {
  .title-cont {
    font-size: 3.2rem;
  }

  .p-about {
    font-size: 1rem;
  }

  .btn-about {
    font-size: 1rem;
  }

  .h-about {
    font-size: 4.5rem;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .amor-home p {
    font-size: 20px;
  }

  #sabias {
    font-size: 18px;
  }
}

@media screen and (max-width: 772px) {
  .amor-home p {
    font-size: 15px;
  }

  .title-cont {
    font-size: 2.7rem;
  }

  .p-about {
    font-size: 0.7rem;
  }

  .btn-about {
    font-size: 0.7rem;
  }

  .h-about {
    font-size: 3.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #sabias {
    font-size: 13px;
  }
}

@media screen and (max-width: 456px) {
  .location-text {
    font-size: 1.5vw;
  }

  .title-cont {
    font-size: 2rem;
  }

  .p-about {
    font-size: 0.5rem;
  }

  .btn-about {
    font-size: 0.5rem;
  }

  .h-about {
    font-size: 2.5rem;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .h-size {
    height: 300px;
  }

  .amor-home p {
    font-size: 10px;
  }

  #sabias {
    font-size: 9px;
  }
}